.page {
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    color: #fff;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .page {
        align-items: flex-start;
    }
}