.header__auth {
    margin-top: 5px;
    color: var(--font-color-light, #fff);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.header__auth:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .header__auth {
        margin-right: 30px;
        font-size: 14px;
        line-height: 17px;
    }
}