.popup__submit-button_type_auth {
    margin: 186px 0 0 0;
    color: var(--font-color-dark, #000);
    background-color: var(--background-invert-color, #fff);
  }
  
  .popup__submit-button_type_auth:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 320px) {
    .popup__submit-button_type_auth {
      margin: 143px 0 0 0;
      height: 46px;
      font-size: 16px;
      line-height: 19px;
    }
  } 