.element__del-button {
    background-image: url(../../../images/trash_icon.svg);
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 19px;
    border: none;
    cursor: pointer;
}

.element__del-button:hover {
    opacity: 0.6;
    transition: all 0.3s;
}
