.element__like-button {
    background-image: url(../../../images/__like.svg);
    justify-content: end;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 19px;
    right: 5px;
    position: relative;
}

.element__like-button:hover {
    opacity: 0.5;
    transition: all 0.3s;
}